body {
    margin: 0;
    padding: 0;
    background-color: #161718;
    color: #cccdce;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}